.item_grid_container_search {
    width: calc(100%);
    margin-left: 20px;

    .grid_container {
        display: flex;
        background-color: #fff;
        padding: 5px 20px;
        border-radius: 10px;

        .container_paragraph {
            margin-left: 20px;
            color: #000;
        }

        .container_paragraph-unactive {
            color: #B1B1B2;
        }
    }

    .grid_container_grid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
        width: 100%;
        min-height: 60vh;
        margin-bottom: 50px;
        margin-top: 30px;
        justify-items: center;
        align-items: center;
    }

}