body {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
}

// #root {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

.app_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  flex: 1; // Занимает всё доступное пространство
  display: flex;
  flex-direction: column;
  min-height: 0; // Важно для вложенных flex-элементов
}

.App {
  flex: 1; // Растягивается на всю высоту
  display: flex;
  flex-direction: column;
}

/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
body {
  scrollbar-width: none;
}

/* Для IE и Edge */
body {
  -ms-overflow-style: none;
}


// fonts family
@font-face {
  font-family: "Jura_bold";
  src: url("./assets/fonts/Jura-Bold.ttf");
}

@font-face {
  font-family: "Montserrat_bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat_reg";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

.common_reg {
  font-family: "Montserrat_reg";
}

.common_bold {
  font-family: "Jura_bold";
}

.title_bold {
  font-family: "Montserrat_bold";
}

a {
  text-decoration: none;
  color: #000;
}

// paragraph
.super_tiny_p {
  font-size: 12px;
}

.tiny_p {
  font-size: 14px;
}


.small_p {
  // font-family: "Montserrat_reg";
  font-size: 16px;
}

.medium_p {
  // font-family: "Montserrat_reg";
  font-size: 18px;
}

.large_p {
  font-size: 24px;
  // font-family: "Jura_bold";
}

// titles
.small_h {
  // font-family: "Montserrat_bold";
  font-size: 20px;
}

.medium_h {
  // font-family: "Montserrat_bold";
  font-size: 26px;
}

.large_h {
  // font-family: "Montserrat_bold";
  font-size: 36px;
}

// buttons
.button {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 900px) {
  .small_h {
    font-size: 20px;
  }

  .jura_medium_bold {
    font-size: 20px;
  }

  .small_p {
    font-size: 16px;
  }

  .medium_p {
    font-size: 20px;
  }

  .large_p {
    font-size: 20px;
  }

  .tiny_p {
    font-size: 14px;
  }

  .medium_h {
    font-size: 28px;
  }

  .jura_semi-medium_p {
    font-size: 16px;
  }

  .description_p {
    font-size: 14px;
  }

  .super_large_p {
    font-size: 26px;
  }
}

@media screen and (max-width: 720px) {
  .medium_p {
    font-size: 16px;
  }

  .jura_medium_bold {
    font-size: 16px;
  }

  .small_h {
    font-size: 16px;
  }

  .small_p {
    font-size: 14px;
  }

  .large_p {
    font-size: 16px;
  }

  .tiny_p {
    font-size: 14px;
  }

  .super_large_p {
    font-size: 22px;
  }
}