body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
  /* Скрываем полосы прокрутки */
}

/* Для Firefox */
body {
  scrollbar-width: none;
  /* Скрыть скроллбар */
}

/* Для IE и Edge */
body {
  -ms-overflow-style: none;
  /* Скрыть скроллбар */
}

@font-face {
  font-family: "Jura_bold";
  src: url("./assets/fonts/Jura-Bold.ttf");
}

@font-face {
  font-family: "Montserrat_bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat_reg";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// fonts
.jura_bold {
  font-family: "Jura_bold";
}

a {
  text-decoration: none;
  color: #000;
}

.monserat_bold {
  font-family: "Montserrat_bold";
}

.tiny_p {
  font-family: "Jura_bold";
  font-size: 16px;
}

.jura_semi-medium_p {
  font-family: "Jura_bold";
  font-size: 20px;
}

.jura_medium_bold {
  font-family: "Jura_bold";
  font-size: 24px;
}

.super_large_p {
  font-family: "Jura_bold";
  font-size: 30px;
}

.medium_p {
  font-family: "Montserrat_reg";
  font-size: 24px;
}

.description_p {
  font-family: "Montserrat_reg";
  font-size: 18px;
}

.small_p {
  font-family: "Montserrat_reg";
  font-size: 20px;
}

.large_p {
  font-size: 24px;
  font-family: "Jura_bold";
}

.small_h {
  font-family: "Montserrat_bold";
  font-size: 24px;
}

.medium_h {
  font-family: "Montserrat_bold";
  font-size: 32px;
}

.large_h {
  font-family: "Montserrat_bold";
  font-size: 46px;
}

// buttons
.button {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 900px) {
  .small_h {
    font-size: 20px;
  }
  .jura_medium_bold {
    font-size: 20px;
  }
  .small_p {
    font-size: 16px;
  }

  .medium_p {
    font-size: 20px;
  }

  .large_p {
    font-size: 20px;
  }

  .tiny_p {
    font-size: 14px;
  }

  .medium_h {
    font-size: 28px;
  }

  .jura_semi-medium_p {
    font-size: 16px;
  }

  .description_p {
    font-size: 14px;
  }
  .super_large_p{
    font-size: 26px;
  }
}

@media screen and (max-width: 720px) {
  .medium_p {
    font-size: 16px;
  }
  .jura_medium_bold {
    font-size: 16px;
  }
  .small_h {
    font-size: 16px;
  }

  .small_p {
    font-size: 14px;
  }

  .large_p {
    font-size: 16px;
  }

  .tiny_p {
    font-size: 14px;
  }
  .super_large_p{
    font-size: 22px;
  }
}