.catalog_item {
    width: 400px;
    height: 400px;
    cursor: pointer;

    .item_container {
        position: relative;
        background-color: #F2F2F2;
        border-radius: 10px;
        z-index: 1;
        width: 350px;
        height: 350px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        &:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        }

        .item_image {
            position: absolute;
            top: -40px;
            right: 10px;
            z-index: 5;
            width: 280px;
            height: 280px;
        }

        .item_counter {
            padding-top: 40px;
            padding-left: 30px;
            color: #757575;
        }

        .item_paragraph--counter {
            margin-top: 180px;
            margin-left: 30px;
            margin-bottom: 0;
            color: #757575;
        }

        .item_paragraph--name {
            margin-top: 3px;
            margin-left: 30px;
        }
    }
}