.catalog_item {
    width: 300px;
    height: 300px;
    cursor: pointer;

    .item_container {
        position: relative;
        background-color: #F2F2F2;
        border-radius: 10px;
        z-index: 1;
        width: 300px;
        height: 300px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

        &:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease;
        }

        .item_image {
            position: absolute;
            top: -40px;
            right: 0px;
            z-index: 5;
            width: 250px;
            height: 250px;
        }

        .item_counter {
            padding-top: 40px;
            padding-left: 30px;
            color: #757575;
        }

        .item_paragraph--counter {
            margin-top: 150px;
            margin-left: 30px;
            margin-bottom: 0;
            color: #757575;
        }

        .item_paragraph--name {
            margin-top: 3px;
            margin-left: 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    // .catalog_item {
    //     width: 315px;
    //     height: 365px;

    //     .item_container {
    //         width: 315px;
    //         height: 315px;
    //     }
    // }
}