.itemPage_fiter_grid_container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-bottom: 10px;

    .itemPage_filter_container {
        width: 300px;
        min-height: calc(100vh - 240px);
        display: flex;
        // position: sticky;
        // position: -webkit-sticky;
        top: 0;
        flex-direction: column;
    }
}