.itemPage_fiter_grid_container {
    width: calc(100% - 100px);
    margin-left: 50px;
    min-height: 100vh;

    .itemPage_filter_container {
        position: fixed;
        width: 300px;
        height: calc(100vh - 90px);
        display: flex;
        top: 90px;
        left: 0;
        flex-direction: column;
        padding: 30px;
        padding-left: 50px;
        background-color: #fff;
        transition: left 0.5s ease-out, padding 0.5s ease-out;

        .filter_container_items {
            overflow: auto;
            height: calc(100% - 60px);
        }

        .filter_container_button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(50vh - 230px);
            left: 360px;
            background-color: #33A9FF;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            cursor: pointer;

            .container_button-image {
                filter: invert(1);
                width: 28px;
                height: 28px;
            }
        }
    }

    .itemPage_filter_container.active {
        left: -360px;
    }

}

@media screen and (max-width: 900px) {
    .itemPage_fiter_grid_container {
        .itemPage_filter_container {
            height: calc(100vh - 80px);
            top: 80px;
        }
    }
}

@media screen and (max-width: 760px) {
    .itemPage_fiter_grid_container {

        .itemPage_filter_container {
            height: calc(100vh - 80px);
            top: 80px;
        }

        .itemPage_filter_container {
            width: 280px;
            padding-left: 20px;

            .filter_container_button {
                left: 310px;
            }
        }

        .itemPage_filter_container.active {
            left: -310px;
        }
    }
}
@media screen and (max-width: 720px) {
    .itemPage_fiter_grid_container {

        .itemPage_filter_container {
            height: calc(100vh - 50px);
            top: 50px;
        }

        .itemPage_filter_container {
            width: 280px;
            padding-left: 20px;

            .filter_container_button {
                left: 310px;
            }
        }

        .itemPage_filter_container.active {
            left: -310px;
        }
    }
}

// @media screen and (max-width: 1020px) {
//     .itemPage_fiter_grid_container {
//         display: flex;
//         justify-content: space-between;
//         width: calc(100% - 100px);
//         margin-left: 50px;
//         margin-bottom: 10px;

//         .itemPage_filter_container {

//             .filter_container_button {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 position: absolute;
//                 top: 50vh;
//                 left: 300px;
//                 background-color: #33A9FF;
//                 border-radius: 50%;
//                 width: 50px;
//                 height: 50px;

//                 .container_button-image {
//                     filter: invert(1);
//                     width: 28px;
//                     height: 28px;
//                 }
//             }
//         }
//     }
// }