.footer {
    background-color: #292D32;
    padding: 50px;

    .footer_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;

        .container_links,
        .container_contact {
            color: #fff;
            width: 218px;

            .contact_item,
            .links_item,
            .contact_label {
                margin: 10px 0;
            }

            .links_item:hover {
                cursor: pointer;
                font-weight: bold;
            }
        }

        .container_contact {
            text-align: right;
        }

        .container_image {
            width: 93px;
            height: 93px;
        }
    }

    .footer_copyright {
        text-align: center;
        color: #fff;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 20px 50px;

        .footer_container {
            .container_image {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .footer {
        padding: 20px;

        .footer_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;

            .container_links {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                .links_item:hover {
                    cursor: pointer;
                    font-weight: bold;
                }
            }

            .container_contact {
                text-align: left;
                width: 100%;
                margin-top: 20px;
                .container_contact_phones{
                    display: flex;
                    justify-content: space-between;
                }
            }

            .container_image {
                width: 50px;
                height: 50px;
            }
        }

        .footer_copyright {
            text-align: center;
            color: #fff;
            margin: 20px 0 0 0;
        }
    }
}