.itemPage_filter {
    .itemPage_filter-header {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-top: 20px;
        .filter_image {
            width: 28px;
            height: 28px;
        }

        .filter_paragraph {
            margin: 0;
            margin-left: 15px;
        }
    }
    .itemPage_filter-description.unactive {
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
        max-height: 0;
        overflow: hidden;
    }

    .itemPage_filter-description.active {
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
        max-height: 200px;
        padding: 10px 0;
    }
}