.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 20;
    align-items: center;
    justify-content: center;

    .modal_content {
        min-height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal_back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
}

body.modal {
    overflow: hidden;
}