.filter_label_container {
    width: calc(100% - 120px);
    background-color: #fff;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;

    .container_input {
        outline: none;
        border: none;
        width: 100%;
    }
}

.kategoryFilter_container {
    background-color: #fff;
    width: calc(100% - 140px);
    margin-left: 50px;
    padding: 20px;
}