.delivery {
    position: relative;
    z-index: 50;
    width: calc(93% - 100px);
    padding: 50px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

    .delivery_contacts {
        .contacts_label {
            margin: 0;
        }

        .contacts_map {
            width: 600px;
            height: 280px;
        }
    }
    .delivery_payment{
        margin-left: 50px;
        .payment_container{
            .container_label{
                margin: 0;
            }
            .container_payment{
                .payment_item{
                    margin-right: 20px;
                }
            }
        }
    }
}